body {
  margin:0px;
  background-color:rgba(51, 204, 255, 1);
  background-image:url('../../images/首页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1544px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1545px;
  height:2px;
}
#u340 {
  position:absolute;
  left:0px;
  top:61px;
  width:1544px;
  height:1px;
}
#u341 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u342 {
  position:absolute;
  left:11px;
  top:14px;
  width:56px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u343 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u344 {
  position:absolute;
  left:74px;
  top:17px;
  width:59px;
  height:18px;
  color:#FFFFFF;
}
#u345 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:34px;
}
#u346 {
  position:absolute;
  left:211px;
  top:10px;
  width:29px;
  height:34px;
  color:#FFFFFF;
}
#u347 {
  position:absolute;
  left:2px;
  top:9px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u348 {
  position:absolute;
  left:376px;
  top:10px;
  width:34px;
  height:34px;
  color:#FFFFFF;
}
#u349 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u350 {
  position:absolute;
  left:560px;
  top:9px;
  width:35px;
  height:33px;
  color:#FFFFFF;
}
#u351 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u352 {
  position:absolute;
  left:261px;
  top:18px;
  width:64px;
  height:18px;
  color:#FFFFFF;
}
#u353 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u354 {
  position:absolute;
  left:446px;
  top:18px;
  width:73px;
  height:18px;
  color:#FFFFFF;
}
#u355 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u356 {
  position:absolute;
  left:629px;
  top:16px;
  width:59px;
  height:18px;
  color:#FFFFFF;
}
#u357 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:63px;
}
#u358 {
  position:absolute;
  left:167px;
  top:0px;
  width:1px;
  height:62px;
}
#u359 {
  position:absolute;
  left:2px;
  top:23px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360 {
  position:absolute;
  left:0px;
  top:62px;
  width:168px;
  height:985px;
}
#u360_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:985px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u361 {
  position:absolute;
  left:740px;
  top:14px;
  width:36px;
  height:28px;
  color:#FFFFFF;
}
#u362 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u363 {
  position:absolute;
  left:943px;
  top:18px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u364 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u365 {
  position:absolute;
  left:804px;
  top:18px;
  width:73px;
  height:18px;
  color:#FFFFFF;
}
#u366 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u367 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1356px;
  height:985px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u368 {
  position:absolute;
  left:167px;
  top:62px;
  width:1356px;
  height:985px;
}
#u369 {
  position:absolute;
  left:2px;
  top:484px;
  width:1352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:698px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u371 {
  position:absolute;
  left:200px;
  top:149px;
  width:1121px;
  height:698px;
}
#u372 {
  position:absolute;
  left:2px;
  top:341px;
  width:1117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373 {
  position:absolute;
  left:279px;
  top:250px;
  width:969px;
  height:283px;
}
#u374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:30px;
}
#u374 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:30px;
}
#u375 {
  position:absolute;
  left:2px;
  top:8px;
  width:317px;
  word-wrap:break-word;
}
#u376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:30px;
}
#u376 {
  position:absolute;
  left:321px;
  top:0px;
  width:321px;
  height:30px;
}
#u377 {
  position:absolute;
  left:2px;
  top:8px;
  width:317px;
  word-wrap:break-word;
}
#u378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:30px;
}
#u378 {
  position:absolute;
  left:642px;
  top:0px;
  width:322px;
  height:30px;
}
#u379 {
  position:absolute;
  left:2px;
  top:8px;
  width:318px;
  word-wrap:break-word;
}
#u380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:30px;
}
#u380 {
  position:absolute;
  left:0px;
  top:30px;
  width:321px;
  height:30px;
}
#u381 {
  position:absolute;
  left:2px;
  top:8px;
  width:317px;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:30px;
}
#u382 {
  position:absolute;
  left:321px;
  top:30px;
  width:321px;
  height:30px;
}
#u383 {
  position:absolute;
  left:2px;
  top:8px;
  width:317px;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:30px;
}
#u384 {
  position:absolute;
  left:642px;
  top:30px;
  width:322px;
  height:30px;
}
#u385 {
  position:absolute;
  left:2px;
  top:8px;
  width:318px;
  word-wrap:break-word;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:218px;
}
#u386 {
  position:absolute;
  left:0px;
  top:60px;
  width:321px;
  height:218px;
}
#u387 {
  position:absolute;
  left:2px;
  top:101px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:218px;
}
#u388 {
  position:absolute;
  left:321px;
  top:60px;
  width:321px;
  height:218px;
}
#u389 {
  position:absolute;
  left:2px;
  top:101px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:218px;
}
#u390 {
  position:absolute;
  left:642px;
  top:60px;
  width:322px;
  height:218px;
}
#u391 {
  position:absolute;
  left:2px;
  top:101px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u392 {
  position:absolute;
  left:233px;
  top:192px;
  width:130px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u393 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u394 {
  position:absolute;
  left:1072px;
  top:759px;
  width:169px;
  height:30px;
}
#u394_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u395 {
  position:absolute;
  left:233px;
  top:646px;
  width:93px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u396 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u397 {
  position:absolute;
  left:404px;
  top:646px;
  width:364px;
  height:30px;
}
#u397_input {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:30px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u398 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:698px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u399 {
  position:absolute;
  left:200px;
  top:149px;
  width:1121px;
  height:698px;
}
#u400 {
  position:absolute;
  left:2px;
  top:341px;
  width:1117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u401 {
  position:absolute;
  left:231px;
  top:202px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u402 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u403 {
  position:absolute;
  left:231px;
  top:353px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u404 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u405 {
  position:absolute;
  left:231px;
  top:600px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u406 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u407 {
  position:absolute;
  left:337px;
  top:202px;
  width:466px;
  height:25px;
}
#u407_input {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:25px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u408 {
  position:absolute;
  left:339px;
  top:353px;
  width:829px;
  height:194px;
}
#u408_input {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:194px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u409 {
  position:absolute;
  left:341px;
  top:603px;
  width:107px;
  height:19px;
}
#u410 {
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  white-space:nowrap;
}
#u411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u411 {
  position:absolute;
  left:463px;
  top:601px;
  width:20px;
  height:20px;
}
#u412 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u413 {
  position:absolute;
  left:232px;
  top:269px;
  width:93px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u414 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u415 {
  position:absolute;
  left:827px;
  top:269px;
  width:341px;
  height:25px;
}
#u415_input {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:25px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u416 {
  position:absolute;
  left:1138px;
  top:767px;
  width:140px;
  height:25px;
}
#u416_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u417 {
  position:absolute;
  left:335px;
  top:270px;
  width:300px;
  height:22px;
}
#u417_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u417_input:disabled {
  color:grayText;
}
#u418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u418 {
  position:absolute;
  left:701px;
  top:272px;
  width:111px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u419 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u420 {
  position:absolute;
  left:167px;
  top:62px;
  width:324px;
  height:46px;
}
#u420_input {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:46px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u420_input:disabled {
  color:grayText;
}
#u421 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:698px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  position:absolute;
  left:200px;
  top:149px;
  width:1121px;
  height:698px;
}
#u423 {
  position:absolute;
  left:2px;
  top:341px;
  width:1117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u424 {
  position:absolute;
  left:228px;
  top:205px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u425 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u426 {
  position:absolute;
  left:228px;
  top:357px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u427 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u428 {
  position:absolute;
  left:228px;
  top:460px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u429 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u430 {
  position:absolute;
  left:376px;
  top:207px;
  width:300px;
  height:25px;
}
#u430_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u431 {
  position:absolute;
  left:376px;
  top:361px;
  width:300px;
  height:25px;
}
#u431_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u431_input:disabled {
  color:grayText;
}
#u432 {
  position:absolute;
  left:376px;
  top:461px;
  width:572px;
  height:170px;
}
#u432_input {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u433 {
  position:absolute;
  left:1119px;
  top:764px;
  width:140px;
  height:25px;
}
#u433_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u434 {
  position:absolute;
  left:228px;
  top:288px;
  width:93px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u435 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u436 {
  position:absolute;
  left:376px;
  top:292px;
  width:300px;
  height:25px;
}
#u436_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u437 {
  position:absolute;
  left:1009px;
  top:13px;
  width:35px;
  height:30px;
  color:#FFFFFF;
}
#u438 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
