body {
  margin:0px;
  background-image:url('../../images/教务秘书查询课程界面/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1200px;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:1198px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1197px;
  opacity:0.2;
  font-size:72px;
  color:#666633;
}
#u142 {
  position:absolute;
  left:2px;
  top:590px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:17px;
  top:-42px;
  width:324px;
  height:288px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:288px;
  background-color:transparent;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-decoration:none;
  color:#336633;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:152px;
}
#u144 {
  position:absolute;
  left:471px;
  top:26px;
  width:153px;
  height:152px;
  opacity:0.58;
}
#u145 {
  position:absolute;
  left:2px;
  top:68px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:634px;
  top:26px;
  width:1091px;
  height:152px;
}
#u146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:152px;
  background-color:transparent;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#336666;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u147 {
  position:absolute;
  left:0px;
  top:197px;
  width:347px;
  height:1000px;
}
#u147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:1000px;
  background-color:transparent;
  font-family:'华文新魏 Regular', '华文新魏';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-decoration:none;
  color:#336633;
}
#u148 {
  position:absolute;
  left:871px;
  top:248px;
  width:496px;
  height:132px;
}
#u148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:132px;
  background-color:transparent;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#006666;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u149 {
  position:absolute;
  left:1713px;
  top:155px;
  width:117px;
  height:40px;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:underline;
  color:#006633;
  line-height:18px;
}
#u150 {
  position:absolute;
  left:2px;
  top:11px;
  width:113px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:634px;
  top:431px;
  width:340px;
  height:49px;
}
#u151_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:49px;
  background-color:transparent;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u152 {
  position:absolute;
  left:634px;
  top:549px;
  width:340px;
  height:49px;
}
#u152_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:49px;
  background-color:transparent;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u153 {
  position:absolute;
  left:1257px;
  top:431px;
  width:340px;
  height:49px;
}
#u153_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:49px;
  background-color:transparent;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000033;
  text-align:center;
}
#u154 {
  position:absolute;
  left:1257px;
  top:549px;
  width:340px;
  height:49px;
}
#u154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:49px;
  background-color:transparent;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u155 {
  position:absolute;
  left:634px;
  top:658px;
  width:340px;
  height:50px;
}
#u155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:50px;
  background-color:transparent;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
}
#u155_input:disabled {
  color:grayText;
}
#u156 {
  position:absolute;
  left:634px;
  top:778px;
  width:340px;
  height:50px;
}
#u156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:50px;
  background-color:transparent;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
}
#u156_input:disabled {
  color:grayText;
}
#u157 {
  position:absolute;
  left:1257px;
  top:658px;
  width:340px;
  height:50px;
}
#u157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:50px;
  background-color:transparent;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
}
#u157_input:disabled {
  color:grayText;
}
#u158 {
  position:absolute;
  left:1257px;
  top:778px;
  width:340px;
  height:50px;
}
#u158_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:50px;
  background-color:transparent;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
}
#u158_input:disabled {
  color:grayText;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:63px;
}
#u159 {
  position:absolute;
  left:711px;
  top:966px;
  width:145px;
  height:63px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u160 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:63px;
}
#u161 {
  position:absolute;
  left:1047px;
  top:966px;
  width:145px;
  height:63px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u162 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:63px;
}
#u163 {
  position:absolute;
  left:1374px;
  top:966px;
  width:145px;
  height:63px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u164 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
