body {
  margin:0px;
  background-color:rgba(51, 204, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1918px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u239 {
  position:absolute;
  left:0px;
  top:-16px;
  width:215px;
  height:1105px;
}
#u239_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:1105px;
}
#u240 {
  position:absolute;
  left:0px;
  top:60px;
  width:163px;
  height:85px;
}
#u240_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  font-size:18px;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u242 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u242_img.selected {
}
#u242.selected {
}
#u243 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u244 {
  position:absolute;
  left:22px;
  top:0px;
  width:80px;
  height:20px;
}
#u245 {
  position:absolute;
  left:3px;
  top:-1px;
  width:75px;
  white-space:nowrap;
}
#u241_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u246 {
  position:absolute;
  left:20px;
  top:20px;
  width:83px;
  height:20px;
  font-size:18px;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u247 {
  position:absolute;
  left:22px;
  top:0px;
  width:61px;
  height:20px;
}
#u248 {
  position:absolute;
  left:3px;
  top:-1px;
  width:56px;
  white-space:nowrap;
}
#u249 {
  position:absolute;
  left:20px;
  top:40px;
  width:138px;
  height:20px;
  font-size:18px;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u250 {
  position:absolute;
  left:22px;
  top:0px;
  width:116px;
  height:20px;
}
#u251 {
  position:absolute;
  left:3px;
  top:-1px;
  width:111px;
  white-space:nowrap;
}
#u252 {
  position:absolute;
  left:20px;
  top:60px;
  width:138px;
  height:20px;
  font-size:18px;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u253 {
  position:absolute;
  left:22px;
  top:0px;
  width:116px;
  height:20px;
}
#u254 {
  position:absolute;
  left:3px;
  top:-1px;
  width:111px;
  white-space:nowrap;
}
#u255 {
  position:absolute;
  left:0px;
  top:150px;
  width:133px;
  height:65px;
}
#u255_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u257 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u257_img.selected {
}
#u257.selected {
}
#u258 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u259 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u260 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u256_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u261 {
  position:absolute;
  left:20px;
  top:20px;
  width:88px;
  height:20px;
  font-size:20px;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u262 {
  position:absolute;
  left:22px;
  top:0px;
  width:66px;
  height:20px;
}
#u263 {
  position:absolute;
  left:3px;
  top:-2px;
  width:61px;
  white-space:nowrap;
}
#u264 {
  position:absolute;
  left:20px;
  top:40px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u265 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u266 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u267 {
  position:absolute;
  left:0px;
  top:249px;
  width:153px;
  height:85px;
}
#u267_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u269 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u269_img.selected {
}
#u269.selected {
}
#u270 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u271 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u272 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u268_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u273 {
  position:absolute;
  left:20px;
  top:20px;
  width:88px;
  height:20px;
  font-size:20px;
}
#u274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u274 {
  position:absolute;
  left:22px;
  top:0px;
  width:66px;
  height:20px;
}
#u275 {
  position:absolute;
  left:3px;
  top:-2px;
  width:61px;
  white-space:nowrap;
}
#u276 {
  position:absolute;
  left:20px;
  top:40px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u277 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u278 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u279 {
  position:absolute;
  left:20px;
  top:60px;
  width:128px;
  height:20px;
  font-size:20px;
}
#u280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u280 {
  position:absolute;
  left:22px;
  top:0px;
  width:106px;
  height:20px;
}
#u281 {
  position:absolute;
  left:3px;
  top:-2px;
  width:101px;
  white-space:nowrap;
}
#u282 {
  position:absolute;
  left:0px;
  top:358px;
  width:133px;
  height:85px;
}
#u282_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u284 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u284_img.selected {
}
#u284.selected {
}
#u285 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u286 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u287 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u283_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u288 {
  position:absolute;
  left:20px;
  top:20px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u289 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u290 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u291 {
  position:absolute;
  left:20px;
  top:40px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u292 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u293 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u294 {
  position:absolute;
  left:20px;
  top:60px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u295 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u296 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u297 {
  position:absolute;
  left:13px;
  top:19px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u298 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u299 {
  position:absolute;
  left:113px;
  top:19px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u300 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u301 {
  position:absolute;
  left:1px;
  top:49px;
  width:200px;
  height:1px;
}
#u302 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303 {
  position:absolute;
  left:0px;
  top:478px;
  width:133px;
  height:45px;
}
#u303_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u305 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u305_img.selected {
}
#u305.selected {
}
#u306 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u307 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u308 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u304_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u309 {
  position:absolute;
  left:20px;
  top:20px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u310 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u311 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1655px;
  height:1001px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u313 {
  position:absolute;
  left:263px;
  top:60px;
  width:1655px;
  height:1001px;
}
#u314 {
  position:absolute;
  left:2px;
  top:492px;
  width:1651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1655px;
  height:49px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316 {
  position:absolute;
  left:263px;
  top:140px;
  width:1655px;
  height:49px;
}
#u317 {
  position:absolute;
  left:2px;
  top:16px;
  width:1651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u318 {
  position:absolute;
  left:279px;
  top:150px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u319 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u320 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1655px;
  height:49px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u321 {
  position:absolute;
  left:263px;
  top:428px;
  width:1655px;
  height:49px;
}
#u322 {
  position:absolute;
  left:2px;
  top:16px;
  width:1651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u323 {
  position:absolute;
  left:279px;
  top:438px;
  width:97px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u324 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u325 {
  position:absolute;
  left:295px;
  top:199px;
  width:909px;
  height:132px;
  font-size:28px;
}
#u326 {
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  word-wrap:break-word;
}
#u327 {
  position:absolute;
  left:446px;
  top:548px;
  width:300px;
  height:25px;
}
#u327_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u328 {
  position:absolute;
  left:446px;
  top:676px;
  width:300px;
  height:25px;
}
#u328_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u329 {
  position:absolute;
  left:446px;
  top:810px;
  width:300px;
  height:25px;
}
#u329_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u330 {
  position:absolute;
  left:301px;
  top:550px;
  width:56px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u331 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u332 {
  position:absolute;
  left:301px;
  top:679px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u333 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u334 {
  position:absolute;
  left:301px;
  top:813px;
  width:93px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u335 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u336 {
  position:absolute;
  left:301px;
  top:996px;
  width:140px;
  height:40px;
}
#u337 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u338 {
  position:absolute;
  left:875px;
  top:517px;
  width:636px;
  height:336px;
  font-size:28px;
}
#u339 {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  word-wrap:break-word;
}
